.App {
  margin: 0 auto;
  width: 300px;
}
.Board {
  position: relative;
}
.Board .row {
  display: inline-block;
  width: 33.3%;
}
.Board .cell {
  outline: 1px solid #7b7b7b;
  height: 100px;
  cursor: pointer;
}
.overlay {
  z-index: 50;
  width: 100%;
  height: 100%;
  position: absolute;
}
.start-btn {
  text-align: center;
}
.modal-container {
  padding: 40px;
  text-align: center;
}
.active-1 .color-1 {
  background-color: #008bbf;
}
.active-2 .color-2 {
  background-color: #f37736;
}
.active-3 .color-3 {
  background-color: #66cccc;
}
.active-4 .color-4 {
  background-color: #6dc066;
}
.active-5 .color-5 {
  background-color: #605b87;
}
.active-6 .color-6 {
  background-color: #8a2be2;
}
.active-7 .color-7 {
  background-color: #eb2348;
}
.active-8 .color-8 {
  background-color: #f8d59b;
}
.active-9 .color-9 {
  background-color: #9a1409;
}
.color-1:hover {
  background-color: #008bbf;
}
.color-2:hover {
  background-color: #f37736;
}
.color-3:hover {
  background-color: #66cccc;
}
.color-4:hover {
  background-color: #6dc066;
}
.color-5:hover {
  background-color: #605b87;
}
.color-6:hover {
  background-color: #8a2be2;
}
.color-7:hover {
  background-color: #eb2348;
}
.color-8:hover {
  background-color: #f8d59b;
}
.color-9:hover {
  background-color: #9a1409;
}
